<div class="container">
    <div *ngIf="mode=='quiz'">
        <div *ngFor="let question of questions; let i = index">
            <h3 class="font-weight-normal">
                {{i + 1}}.
                <span [innerHTML]="question.question"></span>
            </h3>
            <div class="row text-left options">
                <div class="col-6" *ngFor="let option of question.options">
                    <div class="option">
                        <label class="font-weight-normal" [attr.for]="option.id">
                            <input type="checkbox" style="width:20px; height:20px" id="{{option.id}}" [(ngModel)]="option.selected" (change)="onSelect(question, option);"/>
                            {{option.answer}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="result" *ngIf="mode == 'result'">
        <h2>Quiz Result</h2>
        <div *ngFor="let question of questions; let i = index">
            <div class="result-question">
                <h5>{{i + 1}}. {{question.question}}</h5>
                <div class="row">
                    <div class="col-6" *ngFor="let option of question.options">
                        <input type="checkbox" style="width:20px; height:20px" disabled="disabled" [(ngModel)]="option.selected"/>{{option.answer}}
                    </div>
                </div>
                <div>Your answer is {{isCorrectAnswer(question)}}</div>
            </div>
         </div>
    </div>
    <div *ngIf="mode == 'quiz'">
        <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </div>
</div>
